
.bt-spinner {
    border-radius: 50%;
    background-color: transparent;
    border: 3px solid gainsboro;
    border-top-color: #009688;
    animation: 1s spin linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



